@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-main: #7f0037;
  --secondary-main: #4b5563;
  --background-default: #f2f7f8;
  --background-paper: #ffffff;
  --text-primary: #111827;
  --text-secondary: #4b5563;
}

body {
  color: var(--text-primary);
  background: var(--primary-main); /* Use the primary main color */
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
